/*********
 * Menus *
 *********/
GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu,
.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.menu {
	-GtkMenu-internal-padding: 0;
	padding: 0;
	border-width: 0;
	background-color: @theme_bg_color;
	/* background-image: none;
	 * background-color: @theme_base_color; */
	/* border-color: @inactive_frame_color; */
	color: @theme_fg_color;
}

/* .menuitem.separator {
 * 	/\* color: @selected_bg_color; *\/
 * 	/\* background-color: @selected_fg_color; *\/
 * 	padding: 0;
 * 	-GtkSeparatorMenuItem-horizontal-padding: 100;
 * 	-GtkWidget-separator-height: 3;
 * } */

/* menubar */
.menubar {
	padding: 0px;
	color: @theme_fg_color;

	background-image: -gtk-gradient (linear,
	    left top,
	    left bottom,
	    from (#e8e9eb),
	    color-stop (0.7, #c5c4c4),
	    to (#b6b6b8));
	/*border-top-color: #f7f7f7;
   	border-right-color: transparent;
   	border-left-color: transparent;
   	border-bottom-color: #7a7a7c;*/
	border-style: solid;
    border-width: 0px;
    box-shadow: inset 0px 1px  #f7f7f7,
				inset 0px -1px  #7a7a7c;
    /* padding: 2;	 */
	/* border-color: @theme_bg_color;
	 * border-radius: 0; */
}

.menubar.menuitem,
.menubar .menuitem {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    /*border-style: none;*/
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (#8aaae0),
                                     to (#678ecd));

    color: @theme_selected_fg_color;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-color: #94b3e5;
   	border-right-color: transparent;
   	border-left-color: transparent;
   	border-bottom-color: #6e93d1;
    text-shadow: none;
}

/* menuitem */
.menuitem {
	padding: 4px 5px 4px 5px;
	border-width: 0px;
	text-shadow: 0px 1px alpha (shade (@button_bg_color, 1.25), 0.4);
	color: @theme_fg_color;
	background-image: none;
}

.menuitem:hover {
	color: @theme_selected_fg_color;
	background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (#8aaae0),
                                     to (#678ecd));
    text-shadow: none;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    background-color: transparent;
    /*background-image: none;*/
    border-style: none;
}

.menuitem.check:active,
.menuitem.radio:active {
    background-color: transparent;
    border-style: none;
}

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
    background-color: transparent;
    /*background-image: none;*/
    border: 0;
}

.popover .menuitem,
.popover .menuitem:active,
.popover .menuitem:hover,
.popover .menuitem:hover:active,
.popover .menuitem:insensitive,
.popover .menuitem:backdrop {
    padding: 4px 5px 4px 5px;
    border-image: none;
	text-shadow: 0px 1px alpha (shade (@button_bg_color, 1.25), 0.4);
	color: @theme_fg_color;
	background-image: none;
}

.popover .menuitem:active,
.popover .menuitem:hover,
.popover .menuitem:hover:active {
	background-color: @theme_selected_bg_color;
}
